<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Gameaffinity{% endblock %}</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    {% block stylesheets %}
        <link href="/scss/bootstrap-5.3.3/scss/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/scss/fontawesome-free-6.5.2-web/css/all.css">
        <link rel="stylesheet" href="/scss/styles.css">
    {% endblock %}
</head>
<body>
<div class='dashboard'>
    <div class="dashboard-nav">
        <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a><a href="/"
                                                                                   class="brand-logo"><i
                ></i> <span>GAMEAFFINITY</span></a></header>
        <nav class="dashboard-nav-list"><a href="/" class="dashboard-nav-item"><i class="fas fa-home"></i>
                Home </a>
            {% if app.user %}
                <a
                        href="{{ path('app_profile') }}" class="dashboard-nav-item"><i
                            class="fas fa-user-alt"></i> Profile
                </a>
            {% endif %}
            <a
                    href="{{ path('app_advance_search') }}" class="dashboard-nav-item"><i
                        class="fas fa-magnifying-glass"></i> Advanced Search </a>
            <a
                    href="{{ path('app_public_lists') }}" class="dashboard-nav-item"><i class="fas fa-file"></i> Public
                Lists</a>
            <a
                    href="{{ path('app_ranking') }}" class="dashboard-nav-item"><i class="fas fa-trophy"></i> Ranking
            </a>
            {% if app.user %}
                <a
                        href="{{ path('app_chatbot') }}" class="dashboard-nav-item"><i class="fas fa-robot"></i>Chatbot
                </a>
            {% endif %}
            <div class="nav-item-divider"></div>
            {% if not app.user %}
                <a href="/login" class="dashboard-nav-item"><i class="fas fa-user"></i> Register/Login </a>
            {% endif %}
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i>
                    Logout </a>
            {% endif %}
        </nav>
    </div>
    <div class="dashboard-app">
        <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
        {% block body %}
        {% endblock %}
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Useful links</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Homepage</a></li>
                    <li><a href="{{ path('app_advance_search') }}">Advanced Search</a></li>
                    <li><a href="{{ path('app_public_lists') }}">Public Lists</a></li>
                    <li><a href="{{ path('app_ranking') }}">Ranking</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact</h5>
                <ul class="list-unstyled footer-contact">
                    <li><i class="fas fa-envelope"></i> <span>support@gameaffinity.com</span></li>
                    <li><i class="fas fa-phone"></i> <span>+1 (123) 456-7890</span></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Follow us!</h5>
                <ul class="list-unstyled footer-social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Terms and conditions</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5 mb-1 text-center">
                    <p>© 2024 Gameaffinity. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="/js/popper.min.js"></script>
    <script src="/scss/bootstrap-5.3.3/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/menu.js"></script>
{% endblock %}
</body>
</html>

